.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.a-1{
    color: #535252 ;
}

.a-b{
    color: #000000 !important;
}

.a-b:hover{
    color: #ff9800 !important;
}

.menu > li {
    position: relative;
    display: flex;
    align-self: center;
    /* padding: 10px 0px; */
}

.menu5{
    padding: 0 !important;
}

.menu5 a {
    text-decoration: none;
    color: #1a1a1a ;
    font-size: 16px !important;
    display: block;
}

/* Dropdown styles */
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: none;
    min-width: 200px;
    overflow: hidden;
}

.dropdown-menu li {
    /* padding: 10px; */
    border-bottom: 1px solid #ddd;
}

.dropdown-menu li:last-child {
    border-bottom: none;
}

.dropdown-menu a {
    color: #333;
    padding: 10px;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #ff9800;
    color: white;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-menu {
    display: block;
}

.div-320{
    padding-top: 1rem;
}


/* background-color: #f8f9fa !important; */

.bt-first{
    width: 60%;
    border: none;
    border-radius: 5px;
    background-color: black;
    /* padding: 5px 10px; */
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 500;
    /* gap: 10px; */
    letter-spacing: 4px;
}

#foot991 .hrhover::after{
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffff;
    transition: width 0.4s ease-in-out;
  }

  .hrhover::after{
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000000;
    transition: width 0.4s ease-in-out;
  }

  .hrhover:hover::after{
    width: 100%;
  }
  
  .hrhover{
    display: inline-block; 
    position: relative;
    color: black;
    text-decoration: none;
    opacity: 0.8;
    cursor: pointer;
  }

  #foot991 .hrhover:hover::after{
    width: 100%;
  }
  
  #foot991 .hrhover{
    display: inline-block; 
    position: relative;
    color: rgb(255, 255, 255);
    text-decoration: none;
    opacity: 0.8;
    cursor: pointer;
  }

  nav .hrhover::after{
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color:#ff9800;
    transition: width 0.4s ease-in-out;
  }

html{
    scroll-behavior: smooth;
}

.mega-menu {
    z-index: 1000;
    display: none;
    position: absolute;
    left: 45%;
    background: transparent;
    padding: 3rem 0%;
}

.mega-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 3rem;
    padding: 1rem 2.5rem;
    justify-content: space-around;
    background-color: white;
    border: 1px solid black;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 4s;
}

.img-drop{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    position: relative;
}

.menu {
    list-style: none;
    display: flex;
    padding-left: 0 !important;
}

.right-menu{
    width: 90%;
}

.left-menu{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hr-lineDrop{
    width: 100%;
    height: 1px;
    background-color: hsl(0, 0%, 0%);
    /* margin: 2rem 0; */
}

.our-services{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-services h3{
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Syne',sans-serif;
}

ul{
    padding: 0;
}

.navbar1{
    align-self: center;
}

@media(max-width:991px){
    .navbar1{
        align-self: start !important;
    }   
}

.social2{
    border: 1px solid black;
    border-radius: 50%;
    padding: 4px 6px;
    text-decoration: none;
    color: black;
    /* font-size: 10px; */
}

.social3{
    border: 1px solid black;
    border-radius: 50%;
    padding: 5px 8px;
    text-decoration: none;
    /* font-size: 10px; */
    color: black;
}

.section-dropdown{
    padding: 3% 0;
}

/* navbar ends here  */

.line1{
    width: 1px;
    height: 100%;
    background-color: black;
}

.button5{
    /* margin-top: 30px; */
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    background-color: rgb(12, 12, 12);
    color: white;
    font-weight: 400;
}


.h6-uppercase{
    text-transform: uppercase;
}







.social{
    border: 1px solid black;
    border-radius: 50%;
    padding: 5px 7px;
    text-decoration: none;
    color: black;
}

.media{
    display: flex;
    gap: 20px;
}

.fright{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img21{
    width: 50%;
}

.img71{
    width: 50%;
}

.section11{
    padding: 4% 3%;
    display: grid;
    grid-template-columns: 25% 1px 1fr;
    gap: 6%;
}

.fleft{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    /* grid-column: 2/4; */
    gap: 5%;
}

/* .list1{ */
    /* display: flex;
    flex-direction: column;
    gap: 40px;
} */

a{
    text-decoration: none;
    color: black;
}

.list4{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
}


@media (max-width:991px){
    .section11{
        grid-template-rows: auto 1px 1fr;
        grid-template-columns: auto;
        gap: 30px;

    }
    .fright{
        display: flex;
        align-items: flex-start !important;
    }
}

@media (max-width:768px){
    .fleft{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 2%;
    }
}


/* section 11 ends here  */

/* section 12 starts here  */

.section12{
    padding: 3% 3%;

}

.heading12{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list12{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.list1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
}

@media (max-width:768px){
    .heading12{
        /* grid-template-columns: 1fr; */
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }
}

/* footer ends here  */


.help{
    padding: 1rem;
    border: 1px solid rgb(247, 154, 48);
    background-color: rgba(247, 154, 48, 0.192);
    border-radius: 5px;
    margin-top: 3rem;
    position: sticky;
    top: 30px;
}

.help2{
    padding: 1rem;
    border: 1px solid rgb(247, 154, 48);
    background-color: rgba(247, 154, 48, 0.192);
    border-radius: 5px;
    margin-top: 3rem;
    /* position: sticky; */
    /* top: 30px; */
}

.help-content h4{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    font-family: 'Syne',sans-serif;
}

.help-content p{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
    font-family: 'Roboto Mono',sans-serif;
}

.help-content button{
    color: black !important;
    font-family: 'Syne',sans-serif;
}

.help-content img{
    width:20px;
    height: 20px;
    margin-right: 5px;
    /* background-color: red; */
}

.help-wrapper{
    height: 47%;
}

.help-wrapper2{
    /* height: 47%; */
    height:auto;
}

.vg-width{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    object-fit: cover;
}

#foot991{
    background-color: #141516d5;
    padding: 1rem ;
    border-radius: 5px;
    margin-bottom: 1rem;
}

#foot991 h5, #foot991 h6, #foot991 h4, #foot991 p{
    color: white;

}

.stay-hidden{
    display: none !important;
}

@media (max-width: 991px){
    .stay-hidden{
        display: block !important;
    }

    .get-hidden{
        display: none !important;
    }
}

