/* .list-establish ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20rem;
} */

.list-establish-ul li{
    /* display: flex; */
    gap: .5rem;
    padding: .5rem 1rem;
    font-size: 1.3rem;
    font-weight: 500;
    color: hsl(0, 0%, 0%);
    font-family: 'Syne',sans-serif;
}