.home-part-2{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    /* padding: 1rem 0px; */
}

.part-2-top{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.part-2-top h3{
    font-size: 1.6rem;
    font-weight: 700;
    font-family: 'Syne', sans-serif;
}

@media (max-width: 1200px){
    .part-2-top h3{
        font-size: 1.5rem;
    }

    .above-footer p{
        font-size: 1.1rem !important;
        
    }

}

.part-2-top b{
    font-size: 1.4rem;
    font-family: 'Roboto Mono', sans-serif;
}

.above-footer{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.above-footer h2{
    font-size: 1.8rem;
    font-weight: 600;
    font-family: 'Syne', sans-serif;
}

.above-footer p{
    font-size: 1rem;
    font-family: 'Roboto Mono', sans-serif;
}
