html,body{
    padding: .5rem;
}

body{
    font-family: 'Syne', sans-serif;
}

#main{
    border: 1px solid hsl(0, 0%, 0%);
    border-radius: 5px;
    padding: 1rem 3rem;
    /* margin: 10px; */
}

nav{
    margin-bottom: 2rem;
}

nav ul li a{
    text-decoration: none;
    color: hsl(0, 0%, 0%);
    font-size: 1.3rem !important;
    font-weight: 500;
    font-family: 'Syne', sans-serif;
}


/* ------------- section 1 starts ----------- */

.section-1-content{
    display: grid;
    grid-template-columns: .3fr  1px 1fr;
    grid-template-rows: auto;
    gap: 4rem;
}

.section-1-wrapper {
    width: 100%;
    padding-top: 1.5rem;
}

.section-1-right{
    width: 100%;
}

.sticky-div{
    position: sticky;
    top: 30px;
}

.section-1-right img{
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    border-radius: 5px;
}

.left-h1 h1{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    font-family: 'Syne',sans-serif;
}

.left-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 2rem;
}

#foot991{
    display: none;
}

@media (max-width:991px) {
    .section-1-left{
        display: none;
    }

    .right-content h1{
        font-size: 3rem !important;
    }

    .hide{
        display: none;
    }

    .section-1-content{
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: auto;
        /* gap: 4rem; */
    }

    /* #center{
        width: 100%;
        height: 100%;
        background-color: #ffffff !important;
        display: flex;
        justify-content:space-around;
        align-items: center;
        font-family: 'Syne', sans-serif;
        color: #000000 !important;   
    } */

    #foot991{
        display: block;
    }

    .center-content{
        display: flex;
        gap: 4rem;  
        padding: 1rem 2rem;
        flex-wrap: wrap;
    }
}

.left-list a{
    text-decoration: none;
    /* list-style: none; */
    display: flex;
    gap: .5rem;
    border: 1px solid hsl(0, 0%, 0%);
    padding: .5rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    color: hsl(0, 0%, 0%);
    background-color: rgba(240, 240, 240, 0.521);
    font-family: 'Syne',sans-serif;
}

.hr-line{
    width: 100%;
    height: 1px;
    background-color: hsl(0, 0%, 0%);
    margin: 2rem 0;
}

.vr-line{
    width: 1px;
    height: 100%;
    background-color: hsl(0, 0%, 0%);
    /* margin: 2rem 0; */
}

.vr-div{
    height: 100%;
}

.right-content h1{
    font-size: 3.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    font-family: 'Syne',sans-serif;
}

.right-content p{
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.8;
    margin-bottom: 1rem;
    font-family: 'Syne',sans-serif;
}

.right-content{
    padding-top: 2rem;
}





/* ----------- footer ---------------- */



#main1{
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 9;
    overflow: hidden;
}

#top{
    width: 100%;
    height: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    overflow: hidden;
    text-overflow: hidden;
    z-index: 1;
}

#center{
    width: 100%;
    height: 100%;
    background-color: #000000;
    display: flex;
    justify-content:space-around;
    align-items: center;
    font-family: 'Syne', sans-serif;
    color: #fff;
    
}

#bottom{
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: rgb(255, 255, 255);
    bottom: 0;
    overflow: hidden;
    z-index: 1;
}

#top h1, #bottom h1{
    font-size:10vw;
    font-family: "Syne",sans-serif;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#top-h{
    position: relative;
    top: 75%;
}

#bottom-h{
    position: relative;
    top: -25%;
}

.center-content{
    display: flex;
    gap: 4rem;  
    padding: 1rem 2rem;
    /* flex-wrap: wrap; */
}

.footer-content-end-right{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.list-pages{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-content-end-right a, .list-pages a{
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Syne', sans-serif;
}

.center-footer-content{
    max-width: 300px;
}

.left-center-footer{
    min-width: 150px;
}

.footer-content-end{
    min-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.h4-footer{
    border-bottom: 1px solid hsl(0, 0%, 100%);
}

.right-center-footer{
    min-width: 150px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.center-footer-content-left{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.address-map{
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

/* ----------- 991px footer css ------------  */


/* #center2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    font-family: 'Syne', sans-serif;
    color: #fff;
} */

.center-content12{
    display: flex;
    gap: 4rem;  
    padding: 1rem 2rem;
    /* flex-wrap: wrap; */
}

.footer-content-end-right2{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.list-pages2{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-content-end-right2 a, .list-pages2 a{
    text-decoration: none;
    color: hsl(0, 0.00%, 0.00%);
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Syne', sans-serif;
}

.center-footer-content{
    max-width: 300px;
}

/* .left-center-footer{
    min-width: 150px;
} */

.footer-content-end2{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.h4-footer2{
    border-bottom: 1px solid hsl(0, 0%, 100%);
}

.right-center-footer2{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.center-footer-content-left2{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.address-map2{
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

@media (max-width:480px){
    .iframe1{
        width:170px !important;
        height:170px !important;
    }

    .right-content h1{
        font-size: 2rem !important;
    }

    .right-content p{
        font-size: 1rem !important;
    }

    #main{
        padding: 1rem;
    }
}
