html,body{
    padding: .5rem;
}

body{
    font-family: 'Syne', sans-serif;
}

#main{
    border: 1px solid hsl(0, 0%, 0%);
    border-radius: 5px;
    padding: 1rem 2.5rem;
    /* margin: 10px; */
}

nav{
    margin-bottom: 2rem;
}

nav ul li a{
    text-decoration: none;
    color: hsl(0, 0%, 0%);
    font-size: 1.3rem !important;
    font-weight: 500;
    font-family: 'Syne', sans-serif;
}

.nav-right-icons{
    display: flex;
    gap: 1rem;
}

.nav-right-icons i{
    color: hsl(0, 0%, 0%);
}


/* ------------- section 1 starts ----------- */

.section-1-content{
    display: grid;
    grid-template-columns: .4fr  1px 1fr;
    grid-template-rows: auto;
    gap: 2rem;
}

.mid-imp{
    font-weight: 600;
    font-size: 1.5rem;
}

.section-1-wrapper {
    width: 100%;
    padding-top: 1.5rem;
}

.section-1-right{
    width: 100%;
}

.sticky-div{
    position: sticky;
    top: 30px;
}

.section-1-right img{
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    border-radius: 5px;
}

.left-h1 h1{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    font-family: 'Syne',sans-serif;
}

.left-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 2rem;
}


@media (max-width:991px) {
    .section-1-left{
        display: none;
    }

    .right-content h1{
        font-size: 3rem !important;
    }

    .hide{
        display: none;
    }

    .section-1-content{
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: auto;
        /* gap: 4rem; */
    }

    /* #center{
        width: 100%;
        height: 100%;
        background-color: #ffffff !important;
        display: flex;
        justify-content:space-around;
        align-items: center;
        font-family: 'Syne', sans-serif;
        color: #000000 !important;   
    } */

    /* .center-content2{
        display: flex;
        gap: 4rem;  
        padding: 1rem 2rem;
        flex-wrap: wrap;
    } */

    .center-content2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 3rem;
    }

    .footer-content-end-right2 a, .list-pages2 a{
        text-decoration: none;
        color: hsl(0, 0.00%, 0.00%);
        font-size: 1rem;
        font-weight: 500;
        font-family: 'Syne', sans-serif;
    }

    .footer-content-end-right2{
        display: flex !important;
        flex-direction: column !important;
        gap: 1.5rem;
    }
    
    .list-pages2{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}



@media (max-width: 630px){
    .center-content2{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 3rem;
    }
}

.left-list a{
    text-decoration: none;
    /* list-style: none; */
    display: flex;
    gap: .5rem;
    border: 1px solid hsl(0, 0%, 0%);
    padding: .5rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    color: hsl(0, 0%, 0%);
    background-color: rgba(240, 240, 240, 0.521);
    font-family: 'Syne',sans-serif;
}

.hr-line{
    width: 100%;
    height: 1px;
    background-color: hsl(0, 0%, 0%);
    margin: 2rem 0;
}

.vr-line{
    width: 1px;
    height: 100%;
    background-color: hsl(0, 0%, 0%);
    /* margin: 2rem 0; */
}

.vr-div{
    height: 100%;
}

.right-content h1{
    font-size: 3.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    font-family: 'Syne',sans-serif;
}

.right-content p{
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: .5rem;
    font-family: 'Roboto Mono',sans-serif;
}

.right-content{
    padding-top: 2rem;
}

/* --------------------- footer css -------------------  */

.footer-content-end2{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.h4-footer2{
    border-bottom: 1px solid hsl(0, 0%, 0%);
}

.right-center-footer2{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.center-footer-content-left2{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.address-map2{
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

@media (max-width:480px){
    .iframe1{
        width:170px !important;
        height:170px !important;
    }

    .right-content h1{
        font-size: 2rem !important;
    }

    .right-content p{
        font-size: 1rem !important;
    }

    #main{
        padding: 1rem;
    }

    .footer-content-end2{
        gap: 1rem;
    }

    .center-footer-content-left2{
        gap: 1rem;
    }

    .address-map2{
        gap: 1rem;
    }

    .right-center-footer2{
        gap: 1rem;
    }

    .section-1-wrapper {
        padding-top: 0rem !important;
    }

    .footer-content-end-right2 a, .list-pages2 a{
        text-decoration: none;
        color: hsl(0, 0.00%, 0.00%);
        font-size: 1rem;
        font-weight: 500;
        font-family: 'Syne', sans-serif;
    }

    .footer-content-end-right2{
        display: flex !important;
        flex-direction: column !important;
        gap: 1.5rem;
    }
    
    .list-pages2{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}

@media (min-width:992px){
    .center-content2{
        display: grid;
        grid-template-columns: .7fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 3rem;
    }

    .footer-content-end-right2{
        display: flex !important;
        flex-direction: column !important;
        gap: 1.5rem;
    }
    
    .list-pages2{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .footer-content-end-right2 a, .list-pages2 a{
        text-decoration: none;
        color: hsl(0, 0.00%, 0.00%);
        font-size: 1rem;
        font-weight: 500;
        font-family: 'Syne', sans-serif;
    }

    .right-content h1{
        font-size: 2.5rem;
        font-weight: 500;
        margin-bottom: 1rem;
        font-family: 'Syne',sans-serif;
    }

    .section-1-right p{
        font-size: 1.2rem;

    }

    .part-2-top b{
        font-size: 1.3rem !important;
    }
}

@media (max-width:1200px){
    .right-content h1{
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 1rem;
        font-family: 'Syne',sans-serif;
    }

    .section-1-right p{
        font-size: 1.1rem;

    }

    .part-2-top b{
        font-size: 1.1rem !important;
    }

    .mid-imp{
        /* font-weight: 600; */
        font-size: 1.2rem;
    }

    .abovefooter p{
        font-size: 1rem;

    }

    .iframe1{
        width:200px !important;
        height:200px !important;
    }
}



